
.card {
  width: 150px;
  padding: 1em;
  border: 1px solid #CCC;
  margin: 4px;
  border-radius: 4px;
  
  .row {
    flex-direction: row;
    align-items: center
  }

  img.card-img {
    align-self: center;
    margin-left:10%;
    margin-right:10%;
    width: 80%;
  }
  button {
    height: 3em;
    border-radius: 4px;
    margin: 4px;
  }

  input {
    width: 2em;
    padding: 0.5rem;
  }


}
